@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600&family=Poppins:wght@100;500;600;800;900&family=Lobster+Two:ital,wght@0,400;0,700;1,400&display=swap');

body{
  align-items:center;
  font-family: Arial;
  background: rgb(1, 81, 106);
      /* background-image: url('cyber-7125316_1280.jpg'); */
  
}
#mal{
  position: absolute;
  transform: translate3d(50px,-160px,-60px);
  font-size: 40px;
  font-weight: normal;

}

svg {
  display: block;
  font: 4.5em 'Montserrat';
  /* width: 960px;
  height: 300px; */
  margin: 0 auto;
  margin-top: 0px;
}
.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 3px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
stroke: #4D163D;
animation-delay: -1;
}

.text-copy:nth-child(2){
stroke:#03e9f4;
animation-delay: -2s;
}

.text-copy:nth-child(3){
stroke: rgba(8, 8, 8, 0.6);
animation-delay: -3s;
}

.text-copy:nth-child(4){
stroke: rgba(37, 31, 31, 0.6);
animation-delay: -4s;
}

.text-copy:nth-child(5){
stroke: rgba(0,0,0,.6);
animation-delay: -5s;
}

@keyframes stroke-offset{
100% {stroke-dashoffset: -35%;}
}
h3{
  align-items: center;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 23px;
  color: rgb(0, 114, 214);

}

#image{
  width: 100px;
  position :absolute;
  transform: translate3d(350px,50px,-60px);
  /* border: 2px solid #000; /* Border width, style, and color */
  /* border-radius: 10px; */ 
  /* border-color:#03e9f4; */
  box-shadow: 0 10px 20px rgba(234, 0, 0, 0.1);

}
h2{
  align-items: center;
  position: absolute;
  transform: translate3d(500px,-200px,-60px);
  font-size: 50px;
  color: rgb(121, 0, 0);
}