<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='warning_page.css') }}">

    </head>
    <body>
      
      <body>
        <img src="{{ url_for('static', filename='infect-icon.png') }}" alt="Image description" id="image">
        <!-- <img src="images/dangerous.jpeg" alt="dangerous" id="img-dangerous"> -->
        <div class="container">
          <svg viewBox="0 0 960 300">
            <symbol id="s-text">
              <text text-anchor="middle" x="50%" y="80%" id="mal">Malicious Domain Detector</text>
            </symbol>
        
            <g class = "g-ants">
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
            </g>
          </svg>
        </div>
      <div class="warning">
        <h2 >This website is blocked !</h2>
      </div>
      </body>
</html>